<script>
  import CloudImage from "$lib/components/CloudImage.svelte";
  import Tooltip from "$lib/components/Tooltip.svelte";
  import MouseTrailer from "$lib/components/MouseTrailer.svelte";
</script>

<MouseTrailer />

<CloudImage src="/guide/welcome.gif" alt="Welcome to Daydream" />

<i class="opacity-50  ">Welcome to Daydream 🫶</i>

Hey there\! 

You've been approved to organize a Daydream. Cool\! But… Here's the million dollar question: *how?*

There's no “perfect, by-the-book” way of organizing a hackathon. But there are some strategies to make it the best event you can. 

This guide is, and will always be, a work-in-progress. Despite popular belief, I, Deven Jadhav, am not an omnipotent Hackathon Deity™. I'm drawing from caffeinated hours spent staring at screens, lessons learned from organizing “great” hackathons (Scrapyard, Counterspell, etc), and my countless mistakes. 

<span>DM the <Tooltip content="<a target='_blank' href='https://hackclub.slack.com/archives/D07QJ7DLQA1'>Deven</a>, <a target='_blank' href='https://hackclub.slack.com/archives/D0945GN8QAC'>Augie</a>, <a target='_blank' href='https://hackclub.slack.com/archives/U07FCRNHS1J'>Renran</a>, & <a target='_blank' href='https://hackclub.slack.com/archives/D08HZQ4KL8H'>Meghana</a>!">Daydream Team</Tooltip> if you have any ideas to improve this guide\!</span> 

### **QUICKSTART GUIDE (very important\!\!)** 

People ask me about hackathons a lot. They say *"Dev, how do I run a hackathon?"* and I say *"hmmmmmmmm."* And then they say, *"The f\*\*\* you mean, Dev?"* and then I say *"uhhhhhhhhhhhhh."*

<CloudImage src="/guide/how.png" />

So… this is an attempt to write down my thoughts on how to get started.

From the perspective of attendees, these are the things that make hackathons incredible:

* People you meet  
* Adventures you go on (technical, physical, and emotional)  
* The projects you build (what ties everything together)

<CloudImage src="/guide/three-things.png" />

However, there are some key tasks you need to complete before your hackathon:

# **PART ONE: SETTING UP**

### **1\) [JOIN THE HACK CLUB SLACK\!\!](https://join.slack.com/t/hackclub/shared_invite/zt-39038sx6p-Xoaw5C~bOqQCUGs2hC6KHA) And the [\#daydream](https://hackclub.slack.com/archives/C094GLLH2RX) channel:** 

SUPER IMPORTANT\!\! Slack is how we communicate with organizers. If your city doesn't have a Daydream channel yet, make one\!

<CloudImage src="/guide/slack.png" />

### **2\) Assemble… a team of 3-6 organizers\!**

<div class="max-w-lg mx-auto">
  <CloudImage src="/guide/avengers.png" />
</div>

Reach out to people you enjoy working with\! Start with a Slack channel and a shared to-do list (including steps in this guide\!). Delegate tasks based on what people want to do. 

| YES ✅ | AVOID ❌ |
| :---- | :---- |
| Diverse set of skills (ex: Sponsorship, Web Dev, Marketing, Game Dev for workshops)  Good vibes and willing to put 100x enthusiasm for the day-of | Creating a large team (inefficient) Too small of a team (NOT 1 person) Trying to organize everything with fancy project management tools  |

I'd HIGHLY suggest meeting your team in-person to get to know everyone. Good vibes = happy team = fun organizing. 

### **3\) Create a Hack Club Bank (HCB) account:** 

<div class="flex flex-col md:flex-row md:items-stretch md:gap-6">
  <div class="md:flex-1">
HCB is our very own money-handling platform. It gives you a 501(c)(3) nonprofit status *and* a bank account. That way, you can receive donations and get debit cards to spend money\! 

We have partnered with HCB to offer you Daydream accounts—with no extra fees.

The PoC will get a link to your Daydream event's HCB org, and an onboarding video to help you get started\!
  </div>
  <div class="md:flex-shrink-0 md:w-1/2 md:flex md:items-stretch">
    <div class="md:h-[120%] md:-mt-[10%] md:-mx-[5%] max-sm:w-[120vw] flex items-center justify-center">
      <CloudImage src="/guide/hcb.png"/>
    </div>
  </div>
</div>


### **4\) Get a custom email**

Want a [city@daydream.hackclub.com](mailto:city@daydream.hackclub.com) email? This will be coming to event PoCs soonTM! This is a shared Google Workspace account that the team can use to send out mass, personalized communications to attendees, and should be the contact email listed on your website so people can ask you questions.

(it's kind of awesome. Google Workspace ftw) 

<CloudImage src="/guide/email.png" />

### **5\) Setup YOUR Daydream website:** 

You can either choose to make your own design with custom art, etc or clone our [standard template.](/guide/website)

### **6\) Make a Budget (template [here](https://docs.google.com/spreadsheets/d/1udOaDK_OYa_b8Y8myCHOrXVHrf6H45vZqmqqbhkiUBA/edit?usp=sharing))**

A good hackathon budget generally only needs three things: 

* Food   
* Food  
* Food (Please buy water if needed)

… And maybe supplies. 

But a *great* hackathon needs: 

* Good Food (Chipotle, CAVA, bagels, etc. and snacks)   
* Supplies (power strips, tablecloths, surprises, etc.)   
* Merch   
* Decorations  
* Prizes

Track your cost **<span class="text-pink">PER ATTENDEE</span>**. This will help prevent you from spending too much\!  
Well-planned budgets have: 

* “Cost per Attendee” column for each item.   
* Must be done by **<span class="text-pink">SEPTEMBER 13, 2025.</span>** (but ideally finished AT LEAST two weeks earlier)

Estimate your attendees as **50% of total signups**. It might seem unintuitive, but from all our experience: half of the people who sign up show up\!

You will get $7.50 per sign-up from HQ (this number will depend on where you're running your event) to spend on food. Spend wisely\!

# **PART TWO: Lock-In**

### **1\) Finding a home… (Venue)**

Your hackathon <u>cannot</u> happen if you don't have a venue. You could have a million dollars in sponsors but none of it matters if you have nowhere to host your participants. Finding a venue is arguably the most important part of hosting a hackathon. **Lock in**.

**<u>This should be your first priority.</u>**

Reach out to cafes, makerspaces, libraries, and even your school if you're in a pinch.

What makes an awesome venue: 

* It's free\!\! Don't drop $5000 on a venue that's 2 rooms and a couch.  
* Roomy (Minimum: One main space, two sleeping quarters, washrooms, TV/projector, speakers/PA)  
* 24 hours space (Slumber party-esque\!) 

Check out our [Venue Guide](/guide/venue) for more info. 

### **2\) Get Money** 

Raising money can be one of the most tricky parts of running a hackathon\! You may ask: “But Dev, I'm not an English student…I can't write emails\!” Here's how to start: 

* Compile a list of companies your team have personal connections with   
  * (ex: parents, mentors, club leaders)   
  * Everyone on your team can definitely get at least one sponsor\!   
* Make a list of tech companies   
* Compile a list of food companies

PLEASE check out our sponsorship guide. 

### **3\) Outreach** 

Outreach is an ESSENTIAL part of hackathons. No participants → No game jam. But how do you reach the *✨right people*?✨

* Email CS teachers: Make a video with your team and ask them to CC their students or post on Google Classroom\! Check out JPEG's video ([**here)**](https://www.youtube.com/watch?v=DVTepenFeCI). 

* Email local organizations and clubs: FIRST Robotics teams, your student council, CS clubs, etc

* Post on Instagram and social media\! This is where people can discover your event. *AND* people will trust your event more if they see it's on instagram and has nice branding. This is also a good resource for announcements and FAQs.

* Post in parent group chats\! Facebook, Whatsapp, WeChat. This is VERY effective in reaching beginners. 

* Print out posters and put them up 1\) schools 2\) libraries 3\) even the gym

Also, tips: PLEASE reach out to mentors for beginner-focused game jams. Look for game devs and previous hackathon participants (local university students\!). 

Check out our [Outreach Tab](?tab=t.vev3hj1q8m2g) for more info.

# **PART THREE: DAY OF**

### **9\) Make a run of show (and plan the day-of experience)**

Run of show → Time block it.   
Leave a 30 minute window after submissions are due. (see a sample run of show [here](https://docs.google.com/spreadsheets/d/1Lvtz6dF1KCmgVFp2D4B9jL6W1okyHak4ZEsGKH81lu4/edit?usp=sharing))

### **10\) Run an amazing game jam :-)**

Key rules for organizers (Please read OUT LOUD with your team\!): 

* **100x your energy:** Know that one barista who always smiles at you? And greets you cheerfully? Yes. Be exactly that. Extroverted to the point of *too much*. You want participants to have an ✨Out of this world ✨experience.   
* If you've made it this far, DM [@renran sun](https://hackclub.slack.com/archives/D096V6RDJ9E) for a custom sticker  
* **No phones allowed\!** DO NOT use your phone in front of participants – no matter what. Go to the washrooms, organizers' room, HQ's basement…   
* **EVERYONE has to ship**  
  * If you have 10 teams at your hackathon, *all* 10 must have a project that's visitable by anyone uploaded to [itch.io](http://itch.io).   
  * If a team doesn't “ship” a game (meaning Podium doesn't approve it), then they can't get ANY merch. No t-shirt, no hoodie, no beanie, no squishmallow (whatever you end up doing). Locking swag behind shipping is the best way to run an actual, successful event.  
  * We are aiming for 100% ship rates. If your event has a ship rate less than 70%, you ran a subpar event and that reflects on you, the point of contact. We chose you because we trusted you to run a good event.

### **Resources \+ Support** 

Organizing Daydream is going to be one of the hardest things you've done so far. The Hack Club team is here to support you through the process, and promise to be reliable partners while you work on Daydream\! 

That being said, Hack Club HQ is not organizing this event directly. We will do everything we can to help you have great ownership, but we expect you to take ownership of your event, be proactive, reach out to us when you need support and be an equally reliable partner. 

<div class="overflow-x-scroll min-w-0 scroll-table">
  <div class="min-w-[700px]">

| Contact method | Expected response time | When to use? |
| :---- | :---- | :---- |
| [\#daydream](https://hackclub.slack.com/archives/C094GLLH2RX) in the Hack Club Slack | 24 hours or sooner | Any general questions\! Especially helpful for things that other organizers can answer for you. |
| Email [daydream@hackclub.com](mailto:daydream@hackclub.com) | 48 hours (Guaranteed response) | Anything that is high priority, involves personal information, or cannot be discussed publicly |
| Request a 30 minute call with a Daydream mentor (maximum of two calls a month) | You can usually book a call 3-4 days in advance\! | For more complicated situations that need context, or when you need advice from someone experienced in different situations\! |

  </div>
</div>

### **I need help.**

And we're here to give it to you. [Reserve](https://calendly.com/d/cs3b-nqj-df9/10-minute-daydream-check-in) a 10 minute call with Meghana, RenRan, or Augie to talk about your event and any help you need\! Link [here](https://calendly.com/d/cs3b-nqj-df9/10-minute-daydream-check-in)

### **What's next?**

You're not just building a hackathon. You're building a space where someone might code their very first game. Meet their best friend. Find their love ♥️ (for tech). 

That's our daydream. And we're so, so excited to see what you'll build.
