@import 'tailwindcss';
@import '@fontsource/atkinson-hyperlegible';

@font-face {
  font-family: 'Expensify New Kansas';
  font-display: swap;
  src: url('/fonts/serif.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Expensify New Kansas';
  font-display: swap;
  src: url('/fonts/serif-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@theme {
  --font-sans: 'Atkinson Hyperlegible', ui-sans-serif, sans-serif;
  --font-serif: 'Expensify New Kansas', ui-serif, serif;
  --color-gradient-daydream: linear-gradient(to bottom, #487DAB, #3F709A);
  --color-daydream: #44DBC8;
  --color-daydream-hover: #3CC2AF;
}
