## And… Action! 🎬

Congrats\! Hours staring at screens, late nights answering emails, worsening dark circles… You’ve now made it. 

But… To make your Daydream the best event possible, here are <u>THE&nbsp;THREE&nbsp;LAWS&nbsp;for&nbsp;Organizers</u>™. 

### **Law \#1: Be 100x your usual friendliness. 😄**

We all know that one barista or server. Or ridiculously extroverted person. Today, YOU are *them*. 

Put their needs above yours. Get to know at least 10 new people. Constantly ask for their progress.

You may ask: “How would I start a convo without being weird?” Don’t worry, I *gotchu*. ✨ Here are some ideas: 

* Ask to take a polaroid/photo of the team  
* Ask about their project → To film them later.   
* Ask if they want to brainstorm / need help / how they like it so far

### **Law \#2: NO phone in front of participants.**   
You know that awkward moment when someone you want to talk to is glued to their phone?

Yes. Exactly. Participants need to feel like you’re approachable. So… DO NOT use your phone in front of them. Or any electronics (laptops, Ipad, etc.) It makes you look busy or unavailable or worse– uninterested. 

Run to the washrooms. Hide behind a table. I don’t care. PHONES in POCKETS. Always. 

### **Law \#3: Take Breaks**

You’re human. You will burn out. Take 10 min breaks in the organizer’s room, sleep 4-8 hours if it’s a 24 hour event. 

The event depends on you running smoothly. But no one’s Superman. We need you rested and ready. Your teammates have your back.   
