# **Venues: The Gathering 🪴**

Without a venue, you don't have a hackathon. You *need* a venue. Lock in.

## 📋 Part One: Making The List™ 

Make a LONG list of potential venues. **You** **need to reach out to 20 venues to find ONE that says yes**. 

If you want to run the best hackathon you can: reach out to AS MANY as you can. With personalized emails each. It will be rough but a great venue makes an amazing hackathon. 

A basic venue needs: 

* Audio/Visual (TV or projector, speakers, etc)  
* Power strips  
* Open space for sleeping, working, etc   
* 2 separate *gender-separated* sleeping rooms

The best venue is:

|  A&nbsp;BIG&nbsp;SPACE&nbsp;🏠 | Whatever space you find should be BIG\! Not a school-gym crammed. They're spending the next 24 hours there – give them room to breathe.  |
| :---: | :---- |
| **WELCOMING&nbsp;🫂** | Should be *exciting* for teens\! Github, Shopify, Figma. An awesome workspace&nbsp;→&nbsp;more ideas\! Big windows, couches, rolling chairs.  |
|  **OVERNIGHT&nbsp;💤** | 24-hour events are where the *✨magic✨* happens. People are too locked in for 12-hour events. We want them to have fun\! Try your best to find an overnight one. |

Here are a bunch of good ideas you can add to your list – use Google Maps to find nearby options\!

| Makerspace | AMAZING space for hackathons. They often have multiple rooms, and can sometimes provide hardware/marketing for your event  |
| :---- | :---- |
| **Startup** | More supportive of nonprofits and hackathons\! They're less risk-averse than larger corporations. Sometimes, they have fancier offices too. |
| **Corporate&nbsp;Office** | Please avoid cubicles (isolates participants from one another, hard to reach), but a good space if they're willing to do overnight\! |
| **Library/University** | Good spaces if they have big windows and good funding\! Not that great if it's boring, classroom-like, with lecture halls. Try not to isolate participants\! |
| **Schools** | Avoid unless it's a fancy, private school or well-funded. We don't want to remind participants of an academic setting\!  |

## ✉️ Part Two: Emailing… 

Once you have your mega-list of spaces, you need to reach out to them. This step can make or break your chances, so here's how to do it right:

## Step \#1: Finding the Contact

Try not to use generic email addresses (ex: info@xyz). Find employees / COOs / people of seniority. Going through website portals is very finicky. Do not assume you'll get to actual people directly, assume your message will go into the void.

Tools to find emails: 

1. [LinkedIn](http://linkedin.com): Use this to find people\!   
2. [Apollo](http://Apollo.io) : Find email addresses of the people you find on LinkedIn\!  
3. [RocketReach](http://rocketreach.co): Another tool to find emails just from a name.

> *Remember: free trials might be temporary, but temporary emails are infinite ;)*

## Step \#2: Writing the Email

🛑 **DO NOT:**

* **USE CHATGPT** (to write the WHOLE thing. Maybe use it to correct grammar)

* **Be overly professional.** It's stupid. It's useless. You're not on LinkedIn, don't pretend to be. Be respectful, but be enthusiastic, youthful. 

* **MASS EMAIL.** It will get you NOWHERE. People can tell when it's a mass email and you don't care. You will send 1000+ emails (like I did) with NO answer. Ten customized emails is a million times better than a thousand mass emails.  

✅ **DO:** 

* **KILL YOUR WORDS**. Be concise. Everything can be shorter, I promise you.   
  * Everyone hates reading. Even the CEO of LinkedIn. The greatest email advice you'll ever get is this: **GET TO THE POINT.**   
  * Ask yourself:   
    * **Does this word actually serve a purpose?** Or is it here to make me seem “smart”?  (PS: No, “building a community of like-minded adolescents with a shared passion for computer science” does not make you seem smart. It makes you seem AI-generated.)   
    * **Do they care?**   
* **CUSTOMIZE\!\!** To the EXACT recipient (research *who* you're emailing). Customize the prospectus. Customize the email. 

> If you can, you should go to a workshop about writing effective emails & get feedback on your email before sending it\! We'll hold a couple to get you guys started.

Example:

<div class="notebook">
Hi [contact name],

I'm RenRan, a 17-year-old high school student from Ottawa. This [month], I'm organizing <strong>Ottawa's first all-girls high school hackathon\!</strong>

July 5-6, we're running JPEG, a <strong>25hr coding event for 70+ teens.</strong> JPEG is affiliated with Hack Club, the "world's largest open source community of teenagers who love to code and build stuff".

Learning to code through hackathons helped me make some of my best memories—and friends. But there are very few opportunities for high schoolers in Ottawa, let alone girls, to attend these social coding events.

Impact Hub is incredible. Especially your Compassionate Community program and the Cartier Women's initiative in recognizing women entrepreneurs.

Our event has everything—but a venue. We're wondering if Impact Hub Ottawa could donate your space to us <strong>overnight July 5-6?<strong>

I'd love to jump on a call to answer any questions or iron out details\!

Warmly,
RenRan Sun (she/her)

<small>
<a href="mailto:renran@hackclub.com">renran@hackclub.com</a>
<br>
[Phone Number]
</small>
</div>

## Step \#4: Choose-your-adventure

### **If you get a “yes\!” …Now what?** 

Be nice to them, maybe they'll host another event in the future\!

### **If you get a “sorry, we can't…”** 

Ask for monetary donations, food, supplies, or mentors.   
They answered, which means congrats\! They care\! 

### If you get ghosted: **Follow. Up.** 

* Follow-up every 3-5 business days\! Reach out to another employee\! Call them\!   
* Email their \*shivers\* general email.   
* Being relentless is what gets you a good venue. 

BUT **do not** SPAM THEM or Hack Club might end up blacklisted. 